.Home {
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #061161,
    #780206
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #061161,
    #780206
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  position: relative;
  height: 620px;
  padding-top: 100px;
}
.Home p{
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    padding-top: 150px;
}
.Home div{
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 30px;
    width: 1000px;
    align-content: center;
    text-align: center;
    padding-top: 40px;
}